<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="../../public/css/tournment.css">
</head>



<main>


    <div class="create_tournment_slider">
        <div class="create_tournoment_container">
            <h1 style="color: black;font-family: fangsong;">List of Players</h1>
        </div>
    </div>

    <div style="background-color: #23252d;
    border: 1px solid #23252d;height:1100px">
        <div class="create_tournament_main">
            <h2 style="font-size: 19px;
            color: white;
            margin-left: 21px;
            margin-top: 20px;
            font-family: monospace;">Player Names</h2>
        </div>
        <div style="max-width: 782px;
        background-color: #2b303d;
        border: 1px solid #23252d;
        margin: auto;">
            <form action="/v1/players/create" method="POST">
                <% for(let count=0; count < players.length; count++) { %>
                    <div style="display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 51px;">
                        <label style="font-size: 21px;
                    color: white;">Player 1</label>
                        <input style=" margin-bottom: 10px;
                display: block;
                background-color: #6b6c72;
            outline: none;
            color: white;
            border: none;
            width: 66%;
            padding: 13px 2px;
                margin-top: 3px
            ;" name="playerone" disabled style="margin-bottom:10px" type="text" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp"
                            value="<%=players[count].playerId.playerone %>" placeholder="playerone" required>
                    </div>


                    <div style="display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 51px;">
                        <label style="font-size: 21px;
                    color: white;">Player 2</label>
                        <input style=" margin-bottom: 10px;
                    display: block;
                    background-color: #6b6c72;
                outline: none;
                color: white;
                border: none;
                width: 66%;
                padding: 13px 2px;
                    margin-top: 3px
                ;" name="playertwo" disabled style="margin-bottom:10px" type="text" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp"
                            value="<%=players[count].playerId.playertwo %>" placeholder="playertwo" required>
                    </div>

                    <div style="display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 51px;">
                        <label style="font-size: 21px;
                    color: white;">Player 3</label>
                        <input style=" margin-bottom: 10px;
                    display: block;
                    background-color: #6b6c72;
                outline: none;
                color: white;
                border: none;
                width: 66%;
                padding: 13px 2px;
                    margin-top: 3px
                ;" name="playerthree" disabled style="margin-bottom:10px" type="text" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp"
                            value="<%=players[count].playerId.playerthree %>" placeholder="playerthree" required>
                    </div>

                    <div style="display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 51px;">
                        <label style="font-size: 21px;
                    color: white;">Player 4</label>
                        <input style=" margin-bottom: 10px;
                    display: block;
                    background-color: #6b6c72;
                outline: none;
                color: white;
                border: none;
                width: 66%;
                padding: 13px 2px;
                    margin-top: 3px
                ;" name="playerfour" disabled style="margin-bottom:10px" type="text" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp"
                            value="<%=players[count].playerId.playerfour %>" placeholder="playerfour" required>
                    </div>

                    <div style="display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 51px;">
                        <label style="font-size: 21px;
                    color: white;">Player 5</label>
                        <input style=" margin-bottom: 10px;
                    display: block;
                    background-color: #6b6c72;
                outline: none;
                color: white;
                border: none;
                width: 66%;
                padding: 13px 2px;
                    margin-top: 3px
                ;" name="playerfive" disabled style="margin-bottom:10px" type="text" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp"
                            value="<%=players[count].playerId.playerfive %>" placeholder="palyerfive" required>
                    </div>

                    <div style="display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 51px;">
                        <label style="font-size: 21px;
                    color: white;">Player 6</label>
                        <input style=" margin-bottom: 10px;
                    display: block;
                    background-color: #6b6c72;
                outline: none;
                color: white;
                border: none;
                width: 66%;
                padding: 13px 2px;
                    margin-top: 3px
                ;" name="playersix" disabled style="margin-bottom:10px" type="text" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp"
                            value="<%=players[count].playerId.playersix %>" placeholder="playersix" required>
                    </div>

                    <div style="display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 51px;">
                        <label style="font-size: 21px;
                    color: white;">Player 7</label>
                        <input style=" margin-bottom: 10px;
                    display: block;
                    background-color: #6b6c72;
                outline: none;
                color: white;
                border: none;
                width: 66%;
                padding: 13px 2px;
                    margin-top: 3px
                ;" name="playerseven" disabled style="margin-bottom:10px" type="text" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp"
                            value="<%=players[count].playerId.playerseven %>" placeholder="playerseven" required>
                    </div>

                    <div style="display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 51px;">
                        <label style="font-size: 21px;
                    color: white;">Player 8</label>
                        <input style=" margin-bottom: 10px;
                    display: block;
                    background-color: #6b6c72;
                outline: none;
                color: white;
                border: none;
                width: 66%;
                padding: 13px 2px;
                    margin-top: 3px
                ;" name="playereight" disabled style="margin-bottom:10px" type="text" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp"
                            value="<%=players[count].playerId.playereight %>" placeholder="playereight" required>
                    </div>
                    <% } %>
            </form>
        </div>
    </div>

</main>